<h1>Customize your order</h1>
<div class="catalog">
    <div class="column">
        <img src="{{url}}">
    </div>
    <div class="column">
        <h2>Chicken doner, 21cm</h2>
        <h3>Toppings</h3>
        <div class="toppings">
            <form method="POST" action="/order/create">
                <input name="product_id" type="hidden" value="{{_id}}"> 
                {{#each toppings}}
                    <input name="{{this}}" type="checkbox" value="{{this}}" checked>
                    <label for="{{this}}">{{this}}</label>
                    <br>
                {{else}}
                    <h2>No toppings are offered for this product</h2>
                {{/each}}
                <input type="submit" value="Checkout">        
            </form>
        </div>
        {{!-- <a class="button" href="order-details.html">Checkout</a> --}}
    </div>
</div>