<h1>Cars</h1>
<div class="cars-container">

        {{#each cars}}
        <div class="car-container">
            <section>
                <a href="/car/edit/{{this._id}}">
                    <img src="{{this.imageUrl}}" alt='car-image' />
                </a>
            </section>
            <section class="info">
                <strong>{{this.make}}</strong>
                <span class="rented">rented:
                    <strong>{{this.rentCount}}</strong>
                </span>
            </section>
            <a id="rentBtn" href="/car/rent/{{this._id}}">rent</a>
        </div>

        {{else}}
            <section class="info">
                <strong>No cars for rent</strong>
            </section>
        {{/each}}
</div>